<div class="wrap" [ngStyle]="{'background-color': '#232949'}">

    <div class="container">

        <ng-container>
            <div class="information" fxLayout="row">

                <div class="introduce" fxFlex="40">
                    <div class="logo">
                        <img src="assets/svg/footer-logo.svg">
                    </div>
                    <div class="phone">
                        <span class="phone-label">联系方式：</span>
                        <span class="phone-text">400-800-999</span>
                    </div>
                    <section class="pc"> {{copyright}} </section>
                </div>

            </div>
        </ng-container>
    </div>
</div>
